

<h1>TEAM: <%= params["team"]["name"]%> </h1>

<%= params %>

<h2>Team Motto: <%=params["team"]["motto"] %> </h2>
<h2>Hero Name: <%= params["member1_name"]%> </h2>
<h3>Hero Power: <%= params["member1_power"]%> </h3>
<h3>Hero Biography: <%= params["member1_bio"]%> </h3>

<h2>Hero Name: <%= params["member2_name"]%> </h2>
<h3>Hero Power: <%= params["member2_power"]%> </h3>
<h3>Hero Biography: <%= params["member2_bio"]%> </h3>

<h2>Hero Name: <%= params["member3_name"]%> </h2>
<h3>Hero Power: <%= params["member3_power"]%> </h3>
<h3>Hero Biography: <%= params["member3_bio"]%> </h3>

<!-- {"team"=>{"name"=>"", "motto"=>""}, "member1_name"=>"", "member1_power"=>"", "member1_bio"=>"", "member2_name"=>"", "member2_power"=>"", "member2_bio"=>"", "member3_name"=>"", "member3_power"=>"", "member3_bio"=>"", "submit"=>"submit"} -->
